<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <property name="FULL_LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] [%X{serverName}] %-5level %logger{36} - %msg%n"/>
    <property name="LOG_DIRECTORY" value="${LOG_DIRECTORY:-./logs}"/>
    <property name="LOG_FILENAME" value="kotty"/>
    <property name="LOG_FILE" value="${LOG_DIRECTORY}/${LOG_FILENAME}"/>
    <property name="LOG_HISTORY_FILE" value="${LOG_DIRECTORY}/history/${LOG_FILENAME}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${FULL_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.eclipse.jetty" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>